*.o
*.a
*.so
*.bak
*.duck
*.old*
*.swp
*.swo
/daemon/bguard
/daemon/bhttpd
/daemon/bmtad
/daemon/bnntpd
/daemon/bpop3d
/daemon/gemd
/daemon/xchatd
/innbbsd/bbslink
/innbbsd/innbbsd
/maple/bbsd
/util/account
/util/acl-sort
/util/backup/backupacct
/util/backup/backupbrd
/util/backup/backupgem
/util/backup/backupoth
/util/backup/backupusr
/util/backup/restoreacct
/util/backup/restorebrd
/util/backup/restoregem
/util/backup/restoreusr
/util/bbsmail
/util/bquota
/util/brdmail
/util/camera
/util/changeperm
/util/counter
/util/gem-index
/util/give_paycheck
/util/hdr-dump
/util/mailpost
/util/outgo
/util/poststat
/util/reaper
/util/redir
/util/setperm
/util/setusr
/util/showACCT
/util/showBRD
/util/showDIR
/util/showUSR
/util/showperm
/util/topgem
/util/topsong
/util/topusr
/util/tran/ats2bmw
/util/tran/ats2brd
/util/tran/ats2gem
/util/tran/ats2mf
/util/tran/ats2pal
/util/tran/ats2usr
/util/tran/brd2gem
/util/tran/cola2brd
/util/tran/cola2gem
/util/tran/cola2post
/util/tran/cola2usr
/util/tran/fb2brd
/util/tran/fb2gem
/util/tran/fb2pal
/util/tran/fb2usr
/util/tran/mag2brd
/util/tran/mag2gem
/util/tran/mag2usr
/util/tran/snap2brd
/util/tran/snap2usr
/util/tran/sob2brd
/util/tran/sob2gem
/util/tran/sob2pal
/util/tran/sob2usr
/util/tran/transacct
/util/tran/transbrd
/util/tran/wd2bmw
/util/tran/wd2brd
/util/tran/wd2gem
/util/tran/wd2list
/util/tran/wd2mf
/util/tran/wd2pal
/util/tran/wd2pip
/util/tran/wd2usr
/util/tran/windtop2brd
/util/tran/windtop2pip
/util/tran/windtop2usr
/util/uno/collect_uno
/util/uno/conflict_uno
/util/uno/fix_uno
